@charset "UTF-8";
@import url(c:\Users\LINE\Documents\GitHub\profile\css\reset_css.css);
ul, li {
  list-style: none;
}

.quick {
  position: fixed;
  right: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 100000;
}

.quick .on {
  background: #000;
  border: 2px solid #fff;
}

.quick li {
  width: 10px;
  height: 10px;
  margin-bottom: 10px;
  border: 2px solid #000;
  border-radius: 15px;
  cursor: pointer;
  background: #fff;
}

@font-face {
  src: url(../fonts/PowerPixel7-Jy0E.ttf);
  font-family: "dot";
}

@font-face {
  src: url(../fonts/DOSGothic.ttf);
  font-family: "dos";
}

* {
  font-family: "함초롬돋움";
  margin: 0;
  padding: 0;
}

html, body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#fullpage {
  position: relative;
  top: 0px;
  z-index: 9;
  width: 100%;
  height: 100%;
}

.fullsection {
  width: 100%;
  height: 100%;
  position: relative;
}

.contact {
  width: 500px;
  height: 200px;
  position: absolute;
  top: 70%;
  left: 38%;
}

.contact input {
  display: block;
  position: absolute;
  top: -9999em;
}

.contact button {
  width: 60px;
  height: 60px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.contact .icon {
  width: 100%;
  height: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.contact .icon .tel {
  padding-top: 10px;
}

.contact .icon .tel img {
  width: 60px;
  height: 60px;
}

.contact .icon .kakao {
  padding-top: 15px;
}

.contact .icon .kakao img {
  width: 55px;
  height: 55px;
}

.contact .icon .mail {
  padding-top: 15px;
}

.contact .icon .mail img {
  width: 55px;
  height: 55px;
}

.contact .icon .discord {
  padding-top: 10px;
}

.contact .icon .discord img {
  width: 60px;
  height: 60px;
}

.contact img {
  width: 70px;
  height: 70px;
}

.contact p {
  width: 100%;
  height: 60%;
  color: #fff;
  text-align: center;
  font-size: 2em;
  font-family: "dot";
}

.back_text_blink {
  display: inline-block;
  width: 1200px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  color: #04B431;
  line-height: 22px;
  font-size: 20px;
  font-family: "dos";
}

.back_text_blink span {
  -webkit-animation-name: cursor_bottom;
          animation-name: cursor_bottom;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  color: #fff;
  font-weight: bold;
}

@-webkit-keyframes cursor_bottom {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes cursor_bottom {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.info_main {
  width: 100%;
  height: 100%;
  position: relative;
}

.img_page {
  width: 1000px;
  height: 600px;
  background: #fff;
  border-radius: 20px;
  position: relative;
  top: 16%;
  left: 6.5%;
  -webkit-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.img_page:hover .img_cover {
  display: block;
}

.img_cover {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  cursor: pointer;
}

.img_cover img {
  width: 100%;
  height: 100%;
}

.mag_icon {
  width: 125px;
  height: 125px;
  position: absolute;
  top: 38%;
  left: 45%;
}

.mobile_img {
  width: 275px;
  height: 560px;
  position: absolute;
  top: 33%;
  left: 48%;
  z-index: 1;
  overflow: hidden;
}

.M_img {
  width: 255px;
  height: 455px;
  overflow: hidden;
  position: absolute;
  top: 9.7%;
  left: 3%;
  border: 1px #eee solid;
  border-radius: 5px;
  z-index: 2;
}


.M_img img {
  width: 100%;
}

.phone_img {
  width: 100%;
  height: 100%;
}

.band {
  width: 30px;
  height: 90px;
  position: absolute;
  left: 12%;
}

.info_sub {
  width: 450px;
  height: 90%;
  float: right;
  background: #fff;
  position: absolute;
  top: 0%;
  right: 7%;
}

.info_sub .title_area {
  position: absolute;
  top: 8%;
  left: 12%;
}

.info_sub h1 {
  margin-top: 40px;
  font-size: 40px;
}

.info_sub h3 {
  font-size: 30px;
}

.info_sub h4 {
  color: #aaa;
  font-size: 20px;
}

.info_sub .button_area {
  width: 200px;
  height: 50px;
  position: absolute;
  top: 40%;
  left: 12%;
}

.info_sub .button_area a {
  text-decoration: none;
  color: #fff;
}

.info_sub .button_area a:link {
  color: #fff;
}

.info_sub .button_area a:visited {
  color: #fff;
}

.info_sub .button_area a:active {
  color: #fff;
}

.info_sub .button_area .main_button, .info_sub .button_area .sub_button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 83px;
  height: 30px;
  background: #000;
  border-radius: 500px;
  text-align: center;
  border: 4px solid transparent;
  font-size: 18px;
  font-weight: bold;
  margin-left: 5px;
  margin-right: 5px;
}

.info_sub .button_area .main_button:hover, .info_sub .button_area .sub_button:hover {
  border: 4px solid #000;
  background: #fff;
}

.info_sub .button_area .main_button:hover a:link, .info_sub .button_area .sub_button:hover a:link {
  color: #000;
}

.info_sub .button_area .main_button:hover a:visited, .info_sub .button_area .sub_button:hover a:visited {
  color: #000;
}

.info_sub .button_area .main_button:hover a:active, .info_sub .button_area .sub_button:hover a:active {
  color: #000;
}

.info_sub .button_area .main_button {
  float: left;
}

.info_sub .button_area .sub_button {
  float: right;
}

.info_sub .text_area {
  line-height: 30px;
  font-size: 14px;
  position: absolute;
  top: 50%;
  left: 12%;
  color: #666;
}

.info_sub .text_area b {
  color: #aaa;
}

.BS_info .info_main {
  background: #e8dcca;
}

.BS_info .screen_img {
  height: 3400px;
  padding: 0;
  overflow: hidden;
}

.BS_info .screen_img li {
  height: 100%;
}

.BS_info .screen_img img {
  width: 100%;
  height: 100%;
}

.BS_info .info_sub h1 {
  color: #947555;
}

.BS_info .info_sub .band {
  border-left: 5px solid #947555;
}

.FF14_info .info_main {
  background: #ece6cc;
}

.FF14_info .screen_img {
  height: 2243px;
  padding: 0;
  overflow: hidden;
}

.FF14_info .screen_img li {
  height: 100%;
}

.FF14_info .screen_img img {
  width: 100%;
  height: 100%;
}

.FF14_info .info_sub h1 {
  color: #367df3;
}

.FF14_info .info_sub .band {
  border-left: 5px solid #367df3;
}

.Higashino_info .info_main {
  background: #dcd5cd;
}

.Higashino_info .M_img {
  border: #888 solid 1px;
}

.Higashino_info .screen_img {
  height: 2212px;
  padding: 0;
  overflow: hidden;
}

.Higashino_info .screen_img li {
  height: 100%;
}

.Higashino_info .screen_img img {
  width: 100%;
  height: 100%;
}

.Higashino_info .info_sub h1 {
  color: #aaa;
}

.Higashino_info .info_sub .band {
  border-left: 5px solid #aaa;
}

.CHANEL_info .info_main {
  background: #444;
}

.CHANEL_info .screen_img {
  height: 2730px;
  padding: 0;
  overflow: hidden;
}

.CHANEL_info .screen_img li {
  height: 100%;
}

.CHANEL_info .screen_img li img {
  width: 100%;
  height: 100%;
}

.CHANEL_info .info_sub h1 {
  color: maroon;
}

.CHANEL_info .info_sub .band {
  border-left: 5px solid maroon;
}

.team_info .info_main {
  background: #eee;
}

.team_info .screen_img {
  height: 2403px;
  padding: 0;
  overflow: hidden;
}

.team_info .screen_img li {
  height: 100%;
}

.team_info .screen_img li img {
  width: 100%;
  height: 100%;
}

.team_info .info_sub h1 {
  color: darkgoldenrod;
}

.team_info .info_sub .band {
  border-left: 5px solid darkgoldenrod;
}

.team_info .info_sub .button_area {
  top: 33%;
  width: 200px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.team_info .info_sub .button_area .main_button {
  background: darkgoldenrod;
}

.team_info .info_sub .button_area .main_button:hover {
  border: 4px solid darkgoldenrod;
  background: #fff;
}

.team_info .info_sub .button_area .main_button:hover a:link {
  color: darkgoldenrod;
}

.team_info .info_sub .button_area .main_button:hover a:visited {
  color: darkgoldenrod;
}

.team_info .info_sub .button_area .main_button:hover a:active {
  color: darkgoldenrod;
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #000;
}

.title_back_text {
  display: none;
}

.title_text {
  display: none;
}

.title_blink {
  display: inline-block;
  font-size: 4em;
  text-align: center;
  width: 1200px;
  height: auto;
  color: #fff;
  font-family: "dot";
}

.title_blink span {
  -webkit-animation-name: cursor;
          animation-name: cursor;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes cursor {
  0% {
    border-right: 1px solid #fff;
  }
  50% {
    border-right: 1px solid #000;
  }
  100% {
    border-right: 1px solid #fff;
  }
}

@keyframes cursor {
  0% {
    border-right: 1px solid #fff;
  }
  50% {
    border-right: 1px solid #000;
  }
  100% {
    border-right: 1px solid #fff;
  }
}

