@charset "UTF-8";

ul, li{list-style: none;}

.quick {
  position:fixed;
  right:20px;
  top:50%;
  transform:translateY(-50%);
  z-index:100000;

  .on{
    background: #000;
    border: 2px solid #fff;
    };
  li{
     width: 10px;
     height: 10px;
     margin-bottom: 10px;
     border: 2px solid #000;
     border-radius: 15px;
     cursor:pointer;
     background: #fff;
     };
   } ;
